<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title">
                    <span class="user-define-16x16"></span>&nbsp; Edit Model</h3>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" ng-model="name">
                </div>
                <div>
                    <label>Parameter: (type: JSON)</label>
                    <textarea type="JSON" cols="85" rows="18" ng-model="parameter"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="wiModal.onOkButtonClicked()">
                    <span class="ok-16x16"></span>&nbsp;OK
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>