<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/#!/" class="navbar-brand">Back</a>
            <!-- <div class="navbar-header">
            <a href="" class="navbar-brand" ng-click="home()">Back</a> -->
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn" ng-click="doLogin()">
                    <a href="">Login</a>
                </li>
                <li ng-show="isLoggedIn" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>