<navigation></navigation>
<br>
<br>
<div class="container-fluid">
    <h1>wi-online-inventory rotes</h1>
    <button type="submit" class="btn btn-primary" ng-click="addApi()">Add API</button>
    <button type="submit" class="btn btn-primary" ng-click="updateJSdoc()">Update JSdoc</button>
    <button type="submit" class="btn btn-primary" ng-click="exportData()"> Export excel </button>
    <button ng-show="dowload" type="submit" class="btn btn-primary" >
        <a href="http://localhost:3000/dowloadApiOnl" style="color: white">Dowload file excel
        </a>
    </button>
    <br>
    <br>
    <div class="col-sm-12 no-padding">
        <input class="form-control" type="text" placeholder="Search API" ng-model="searchText" />
    </div>
    <div class="divTable">
        <div class="col-sm-12 no-padding divHeading">
            <div class="Cell col-sm-1">
                STT
            </div>
            <div class="Cell col-sm-4">
                Name
            </div>
            <div class="Cell col-sm-1">
                Method
            </div>
            <div class="Cell col-sm-4">
                Route
            </div>
            <div class="Cell col-sm-2">
                Action
            </div>
        </div>
        <div class="col-sm-12 no-padding Row" ng-repeat="x in data | filter: searchText" ng-init="x.show=false">
            <div class="Cell col-sm-1">
                {{ $index + 1 }}
            </div>
            <div class="Cell col-sm-4">
                {{ x.name }}
            </div>
            <div class=" Cell col-sm-1">
                {{ x.method }}
            </div>
            <div class="Cell col-sm-4">
                {{ x.route }}
            </div>
            <div class="Cell col-sm-2">
                <a ng-click="x.show=!x.show">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a ng-click="editApi(x._id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a ng-click="deleteApi(x._id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="col-sm-12 no-padding" ng-show="x.show" style="display:table-row;border: 1px solid #ddd; padding: 0px">
                <p>
                    <b>Name : </b> {{ x.name }}
                </p>
                <p>
                    <b>Method : </b> {{ x.method }}
                </p>
                <p>
                    <b>Route : </b> {{ x.route }}
                </p>
                <p>
                    <b>Payload Params : </b>
                    <pre style="width:calc(100vw - 65px);">{{x.payloadParams || json}}</pre>
                </p>
                <p>
                    <b>Sample Payload : </b>
                    <pre style="width:calc(100vw - 65px);">{{x.samplePayload || json}}</pre>
                </p>
                <p>
                    <b>Note : </b>
                    <span style="word-wrap: break-word">{{x.note}}</span>
                </p>
                <p>
                    <b>Response : </b>
                    <pre style="width:calc(100vw - 65px);">{{x.response || json}}</pre>
                </p>
            </div>
        </div>
    </div>