<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title">
                    <span class="user-define-16x16"></span>&nbsp; Add API</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" ng-model="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Route</label>
                            <input type="text" class="form-control" ng-model="route">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Method</label>
                            <input class="form-control" list="method" name="method" ng-model="method">
                            <datalist id="method">
                                <option value="GET">
                                    <option value="POST">
                                        <option value="PUT">
                                            <option value="DELETE">
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label>Payload Params: (type: JSON)</label>
                            <textarea enctype='application/json' cols="60" rows="8" ng-model="payloadParams"></textarea>
                        </div>
                        <div>
                            <label>Sample Payload: (type: JSON)</label>
                            <textarea type="JSON" cols="60" rows="8" ng-model="samplePayload"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label>Note</label>
                            <textarea type="JSON" cols="60" rows="8" ng-model="note"></textarea>
                        </div>
                        <div>
                            <label>Response (type: JSON)</label>
                            <textarea type="JSON" cols="60" rows="8" ng-model="response"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="wiModal.onOkButtonClicked()">
                    <span class="ok-16x16"></span>&nbsp;OK
                </button>
                <button type="button" ng-click="wiModal.onCancelButtonClicked()" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>